* {
    box-sizing: border-box;
    background-color: darkolivegreen;
  }

.container {
    width: 400px;
    height: 500px;
    border-style: solid;
    margin: auto;
    text-align: center; 
    
}

h1 {
    font-size: 25px;
    height: 75px;
    padding: 10px;
}

h2 {
    font-size: 20px;
    padding: 0px;
}

.quiz-answer-form {
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;

}

img {
    border-style: solid;
    width: 250px;
    margin: 10px;
    

    
}

button {
    margin: 10px;

}

.button {
    text-align: center;
}

.question-number {
    text-align: center;
}